.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  scrollbar-width: none;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 200;
  @include flex(flex-start, center, row);

  &::-webkit-scrollbar {
    display: none;
  }

  .modal {
    width: 90%;
    background-color: #fff;
    border-radius: 10px;
    padding: 2rem 14px;
    margin-top: 4rem;
    margin-bottom: 100px;

    .title-btn {
      @include flex(center, space-between, row);
      margin-bottom: 1.5rem;

      h2 {
        font-size: clamp(1rem, 3vw, 1.3rem);
        font-weight: 500;
      }
      .close-btn {
        @include flex(center, center, row);
        padding: 0.1rem 0.2rem;
        border-radius: 5px;
        background-color: #f7f7f8;

        svg {
          color: red;
          cursor: pointer;
        }
      }
    }

    .btns {
      @include flex(center, center, row);
    }
  }
}

// MATERIAL UI MODALS
.update-location {
  .box {
    .btn-right {
      @include flex(center, flex-end, row);

      button[disabled] {
        background-color: $borderColor;
      }
    }
  }
}

.view-application-modal {
  @include flex(center, center, row);
  .details {
    padding: 1rem 14px;
    overflow-y: scroll;
    height: 80vh;

    h2.title {
      font-size: clamp(1rem, 3vw, 1.2rem);
      text-align: center;
      margin-bottom: 1.5rem;
    }

    .item {
      margin-bottom: 1rem;
      h4 {
        font-weight: 600;
        margin-bottom: 0.2rem;
      }

      p {
        font-size: clamp(0.9rem, 3vw, 1rem);
        opacity: 0.8;
        &.name {
          text-transform: capitalize;
        }

        &.cover-letter {
          font-size: clamp(0.9rem, 3vw, 1rem);
        }
      }

      a {
        color: $secondaryColor;
      }
    }
  }
}

@include for-phone-only {
}

@include for-tablet-potrait-up {
}

@include for-tablet-landscape-up {
}

@include for-desktop-up {
  .modal-container {
    .modal {
      width: 50%;
      background-color: #fff;
      border-radius: 10px;
      padding: 2rem 30px;

      .btns {
        @include flex(center, flex-end, row);
      }

      &.update-details {
        .form-control {
          @include flex(center, space-between, row);

          label {
            margin: 0;
          }

          input {
            width: 70%;
          }
        }
      }
    }
  }
}

@include for-big-desktop-up {
}
