.account-settings-page {
  .page-content {
    padding: 3rem 14px;

    .page-title {
      border-bottom: 1px solid $borderColor;
      padding-bottom: 0.2rem;
      margin-bottom: 2rem;

      h2 {
        font-size: clamp(1.3rem, 3vw, 1.6rem);
        font-weight: 500;
      }
    }

    .password-reset {
      padding: 1rem 0;
      margin-bottom: 4.5rem;

      h3.title {
        margin-bottom: 1rem;
        font-size: clamp(1.1rem, 2vw, 1.3rem);
        font-weight: 500;
      }

      form {
        .form-control {
          margin-bottom: 1.5rem;

          .password-cont {
            border: 1px solid #d0cfcf;
            width: 100%;
            position: relative;
            padding-right: 0;
            padding: 0.2rem;

            input {
              border: none;
              width: 100%;
            }

            .reveal-btn {
              position: absolute;
              right: 15px;
              @include flex(center, center, row);
            }
          }
        }
      }
    }
  }
}

@include for-phone-only {
  .account-settings-page {
    .page-content {
      padding: 2rem 24px;
    }
  }
}

@include for-tablet-potrait-up {
  .account-settings-page {
    .page-content {
      padding: 2rem 40px;
    }
  }
}

@include for-tablet-landscape-up {
  .account-settings-page {
    .page-content {
      padding: 2rem 60px;
    }
  }
}

@include for-desktop-up {
  .account-settings-page {
    @include flex(flex-start, space-between, row);

    .page-content {
      width: 75%;
      padding: 3rem 40px;
      height: calc(100vh - 80px);
      overflow-y: scroll;

      .password-reset {
        form {
          width: 50%;
        }
      }
    }
  }
}

@include for-big-desktop-up {
}
