// JOB COMPONENT ON JOB LISTING PAGE (HOME PAGE)
.job-listing-job {
    padding: 1rem;
    cursor: pointer;
    border: 1px solid $borderColor;
    border-radius: 10px;
    margin-bottom: 1.5rem;

    &:hover {
        border-color: $primaryColor;
    }

    .company {
        margin-bottom: 0.7rem;

        h2 {
            font-size: clamp(0.9rem, 4vw, 1rem);
        }
    }

    .position {
        h3 {
            font-size: clamp(1rem, 4vw, 1.2rem);
            font-weight: 500;
        }
    }

    .location-time {
        @include flex(center, space-between, row);

        h5 {
            text-transform: capitalize;
            font-size: clamp(0.8rem, 2vw, 0.9rem);
            font-weight: 400;
        }

        span {
            font-size: clamp(0.8rem, 2vw, 0.9rem);
        }
    }
}

//  JOB COMPONENT FOR APPLIED JOBS
.applied-job {
    padding: 1rem;
    cursor: pointer;
    border: 1px solid $borderColor;
    border-radius: 10px;
    margin-bottom: 1.5rem;

    &:hover {
        border-color: $primaryColor;
    }

    .company-status {
        margin-bottom: 0.7rem;
        @include flex(center, space-between, row);

        h2 {
            font-size: clamp(0.9rem, 4vw, 1rem);
            font-weight: 400;
        }

        select {
            border-radius: 5px;
            height: 40px;
            background-color: #fff;
            color: #000;
            border: 1px solid $borderColor;
            width: 35%;
            outline: none;
        }
    }

    .position {
        h3 {
            font-size: clamp(1rem, 4vw, 1.2rem);
            font-weight: 500;
        }
    }

    .location-time {
        @include flex(center, space-between, row);

        h5 {
            text-transform: capitalize;
            font-size: clamp(0.8rem, 2vw, 0.9rem);
            font-weight: 400;
        }

        span {
            font-size: clamp(0.8rem, 2vw, 0.9rem);
        }
    }
}

// JOB COMPONENT FOR SAVED JOBS
.saved-job {
    padding: 1rem;
    cursor: pointer;
    border: 1px solid $borderColor;
    border-radius: 10px;
    margin-bottom: 1.5rem;

    &:hover {
        border-color: $primaryColor;
    }

    .company {
        margin-bottom: 0.7rem;

        h2 {
            font-size: clamp(0.9rem, 4vw, 1rem);
        }
    }

    .position {
        h3 {
            font-size: clamp(1rem, 4vw, 1.2rem);
            font-weight: 500;
        }
    }

    .location-time {
        @include flex(center, space-between, row);

        h5 {
            text-transform: capitalize;
            font-size: clamp(0.8rem, 2vw, 0.9rem);
            font-weight: 400;
        }

        span {
            font-size: clamp(0.8rem, 2vw, 0.9rem);
        }
    }
}


@include for-phone-only {}

@include for-tablet-potrait-up {}

@include for-tablet-landscape-up {}

@include for-desktop-up {}

@include for-big-desktop-up {}