.jobs-container {
    height: calc(100vh - 40px);
    background-color: $borderColor;

    .box {
        height: 100%;
        background-color: #fff;
        position: relative;

        .filters {
            border: 2px solid green;
            padding: 1rem 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
        }

        .jobs {
            @include flex(flex-start, space-between, row);
            height: 100%;
            padding-top: 2.5rem;

            .jobs-list {
                width: 100%;
                padding: 1rem 14px;
                overflow-y: scroll;
                height: 100%;

                .job {
                    padding: 0.5rem 1rem;
                    cursor: pointer;
                    border: 1px solid $borderColor;
                    border-radius: 10px;
                    margin-bottom: 1.5rem;

                    &:hover {
                        border-color: $secondaryColor;
                    }


                    .company {
                        margin-bottom: 0.7rem;

                        h2 {
                            font-size: clamp(0.9rem, 4vw, 1rem);
                        }
                    }

                    .position {
                        h3 {
                            font-size: clamp(1rem, 4vw, 1.2rem);
                            font-weight: 500;
                        }
                    }


                    .location-time {
                        @include flex(center, space-between, row);

                        h5 {
                            text-transform: capitalize;
                            font-size: clamp(0.8rem, 2vw, 0.9rem);
                            font-weight: 400;
                        }

                        span {
                            font-size: clamp(0.8rem, 2vw, 0.9rem);
                        }
                    }
                }
            }

            .job-info {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                background-color: #fff;
                height: 100vh;
                transform: translateX(100%);
                transition: 0.3s linear all;
                padding: 1.5rem 14px;
                z-index: 10;

                &.show {
                    transform: translateX(0);
                }

                .close-btn {
                    @include flex(center, flex-end, row);
                    margin-bottom: 2rem;

                    svg {
                        font-size: 1.5rem;
                    }
                }

                .info {
                    padding: 0.5rem 0;

                    .company-position {
                        h4 {
                            margin-bottom: 0.5rem;
                            font-weight: 400;
                        }

                        h1 {
                            font-size: clamp(1.2rem, 4vw, 2rem);
                        }

                        .location-date {
                            @include flex(center, space-between, row);
                            margin-bottom: 1rem;

                            h6 {
                                font-size: clamp(0.8rem, 2vw, 1rem);
                                font-weight: 400;
                            }
                        }

                        .btns {
                            @include flex(center, space-between, row);

                            button {
                                width: 48%;
                            }
                        }
                    }
                }
            }
        }
    }
}

@include for-phone-only {}

@include for-tablet-potrait-up {}

@include for-tablet-landscape-up {}

@include for-desktop-up {
    .jobs-container {
        padding: 2rem 115px;
        height: calc(100vh - 80px);

        .box {
            .filters {
                border: 2px solid green;
            }

            .jobs {
                .jobs-list {
                    width: 40%;
                }

                .job-info {
                    position: static;
                    width: 60%;
                    height: 100%;
                    background-color: transparent;
                    @include flex(center, center, row);
                    transform: translateX(0);

                    .close-btn {
                        border: 2px solid red;
                        display: none;
                    }

                }
            }
        }
    }
}

@include for-big-desktop-up {}